<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
</head>
<body>


<div class="container">
    <h1 class="color-change" >Liste des forums</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom de l'auteur</th>
            <th scope="col">Titre du Forum</th>
            <th scope="col">Allez dessus</th>
        </tr>
        </thead>
        <tbody th:each="e : ${forums}">
        <td th:text="${e.getUtilisateur().getNom()}"></td>
        <td th:text="${e.getTitre}"></td>
        <td th:text="${e.getTitre}"></td>
       </tbody>
    </table>
</div>




<div class="container">
    <h1 class="color-change">Creer un nouveau Forum</h1>
    <form th:action="@{/forum}" method="post" th:object="${forum}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Createur du forum</th>
                <th scope="col">Titre du forum</th>
                <th scope="col">Validez la creation du Forum</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" th:value="${utilisateur.nom}" readonly/>
                </td>
                <td>
                    <input type="text" id="titre" th:field="*{titre}" placeholder="Entrez le titre du forum">
                </td>
                <td>
                    <button type="submit">Poster</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


</body>
</html>