<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <span th:replace="~{bootstrap :: bootstrapImport}"></span>
    <style>

        .center-image {
            display: flex;
            justify-content: center; /* Centre l'image horizontalement */
            margin-top: 20px; /* Espacement au-dessus de l'image, ajustable selon tes besoins */
        }

        img {
            width: 10%;
            object-fit: cover;
        }
    </style>
</head>
<body>

<span th:replace="~{bootstrap :: navbar}"></span>
<span th:replace="~{bootstrap :: footer}"></span>


<div class="container text-center">
    <h1 class="color-change">✨ Disco pour le membre <span th:text="${utilisateur.nom}">Nom de l'utilisateur</span> ✨</h1>
</div>


<div class="center-image">
    <img src="/images/disco.gif" alt="Disco" />
</div>

</body>
</html>
