<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages du forum</title>
    <span th:replace="~{bootstrap :: bootstrapImport}"></span>
</head>
<body>

<span th:replace="~{bootstrap :: navbar}"></span>
<span th:replace="~{bootstrap :: footer}"></span>

<div class="container">
    <h1 class="color-change" >Message du forum</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom de l'auteur</th>
            <th scope="col">Message</th>
            <th scope="col">Date du message</th>
        </tr>
        </thead>
        <tbody th:each="e : ${messages}">
        <td th:text="${e.getUtilisateur().getNom()}"></td>
        <td th:text="${e.getMot()}"></td>
        <td th:text="${e.getDate()}"></td>
        </tbody>
    </table>
</div>




<div class="container">
    <h1 class="color-change">Creer un nouveau message</h1>
    <form th:action="@{/message/{id_forum}(id_forum=${forum.id})}" method="post" th:object="${message}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Createur du message</th>
                <th scope="col">Votre message</th>
                <th scope="col">Poster ?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" th:value="${utilisateur.nom}" readonly/>
                </td>
                <td>
                    <input type="text" id="titre" th:field="*{mot}" placeholder="Entrez votre message">
                </td>
                <td>
                    <button type="submit">Poster</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>