<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
<h1>Index</h1>


<li><a href="/list-etudient">Liste etudients</a></li>
<li><a href="/inscription">Inscrire un etudient</a></li>

<form th:action="@{/recherche}" method="get">
    <input type="text" name="nom" placeholder="Rechercher un étudiant">
    <button type="submit">Rechercher</button>
</form>

<ul th:if="${EtudientsNom != null}">
    <li th:each="e : ${EtudientsNom}">
        <a th:href="@{/etudient/{prenom}(prenom=${e.prenom})}">
            <span th:text="${e.prenom}"></span>
        </a>
    </li>
</ul>


</body>
</html>