<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription Étudiant</title>
    <span th:replace="~{index :: bootstrapImport}"></span>
</head>
<body>

<span th:replace="~{index :: navbar}"></span>
<span th:replace="~{index :: footer}"></span>

<div class="container">
    <h1>Inscription d'un nouvel étudiant</h1>
    <form th:action="@{/inscription}" method="post">
        <table class="table">

            <tr>
                <td><label for="prenom">Prénom :</label></td>
                <td><label for="nom">Nom :</label></td>
                <td><label for="email">Email :</label></td>
                <td><label for="age">Âge :</label></td>
                <td><p>Validez l inscription ? </p></td>
            </tr>

            <tr>
                <td><input type="text" id="prenom" name="prenom" placeholder="Entrez le prénom"></td>
                <td><input type="text" id="nom" name="nom" placeholder="Entrez le nom"></td>
                <td><input type="email" id="email" name="email" placeholder="Entrez l'email"></td>
                <td><input type="number" id="age" name="age" placeholder="Entrez l'âge"></td>
                <td>
                    <button type="submit">S'inscrire</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>